@page "/counter"

    <h1>Counter</h1>

    <p>Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click to increase Number</button>
    <input @ref="@elemRef" type="date" />
    <button @onclick="Focus">Test</button>
