@page "/fetchdata"
@using BlazorSampleDB.Shared
@using BlazorSampleDB.Client.Components

<h1>Weather forecast</h1>
<p>This component demonstrates fetching data from a database server.</p>
<div class="row">
    <button class="btn btn-success" @onclick="@Add">Add Forecast</button>
    <input type="search" @bind="@searchstring" />
    <SearchWeatherForecast @bind-SearchString="searchstring" @bind-CastList="forecasts"></SearchWeatherForecast>
</div>

<SfGrid DataSource="@forecasts">
    <GridColumns>
        <GridColumn Field=@nameof(WeatherForecast.Id) HeaderText="ID">
        </GridColumn>
        <GridColumn Field=@nameof(WeatherForecast.Date) HeaderText="Date">
       </GridColumn>
       <GridColumn Field=@nameof(WeatherForecast.Summary) HeaderText="Summary">
       </GridColumn>
    </GridColumns>
</SfGrid>

@if (_showdialog)
{
    <AddWeatherForecast WeatherForecastCreated="ForeCastCreated" @bind-ShowDialog="_showdialog"></AddWeatherForecast>
}

@if (_showdialogEdit)
{
    <EditWeatherForecast @bind-ShowDialog="_showdialogEdit" @bind-WeathCast="_weathCast"></EditWeatherForecast>
}