@page "/"

<h1>Accessibility Sample for Hello, world!</h1>

<p>
    Welcome to your new app. This app ist testing different accesibility meachnisisms to provide proper acces to disabled people.
</p>

