@page "/todolist"
@using BlazorSampleDB.Client.Components

<h1>ToDoList</h1>
<p>This component is ment to show blazorcomponents using other componets as parts of them.</p>
<ToDoListComponent></ToDoListComponent>