@using BlazorSampleDB.Shared
<h2>This is a sample for an ToDoList</h2>
<button class="btn btn-success" @onclick="Add">Add ToDo</button>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Deadline</th>
        </tr>
    </thead>
    <tbody>
        @foreach(ToDo todo in toDoList)
        {
            <tr>
                <td>@todo.Title</td>
                <td>@todo.Description</td>
                <td>@todo.Deadline.ToShortDateString()</td>
                <td><button class="btn btn-success" @onclick="() => Change(todo)">Edit</button><button class="btn btn-danger" @onclick="() => Delete(todo)">Delete</button></td>
            </tr>
        }
    </tbody>
</table

@if (adding)
{
    <AddTodo todoChanged="ToDoCreated" @bind-add="adding"></AddTodo>
}

@if(editing){
    <EditTodo @bind-edit="editing" @bind-todo="currentToDo"></EditTodo>
}